@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JosefinSans';
  src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'JosefinSlab';
  src: url('./assets/fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}

* {
  scroll-behavior: smooth;
}

.headerText {
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  
  .headerText {
    line-height: 2.75rem;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1;
}